body {
  margin: 121px 135px 121px 135px;
}
body .first p {
  color: #898f8f;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}
body .first h1 {
  color: #ffcc00;
  font-family: Roboto;
  font-size: 60px;
  font-style: normal;
  font-weight: 900;
  line-height: 66px;
  margin-bottom: 50px;
  margin-top: 15px;
  text-align: center;
  text-transform: uppercase;
}
body .first .line {
  align-items: center;
  display: flex;
  gap: 2px;
  justify-content: center;
}
body .second {
  margin-top: 130px;
  display: flex;
  justify-content: center;
  gap: 100px;
}
body .second .content1 {
  width: 400px;
  height: 400px;
  position: relative;
  padding: 15px;
}
body .second .content1 .top-left, body .second .content1 .top-right, body .second .content1 .bottom-left, body .second .content1 .bottom-right {
  width: 100px;
  height: 100px;
  position: absolute;
  border: 1px solid gold;
}
body .second .content1 .top-left {
  top: 0;
  left: 0;
  border-bottom: unset;
  border-right: unset;
}
body .second .content1 .top-right {
  top: 0;
  right: 0;
  border-bottom: unset;
  border-left: unset;
}
body .second .content1 .bottom-left {
  bottom: 0;
  left: 0;
  border-top: unset;
  border-right: unset;
}
body .second .content1 .bottom-right {
  bottom: 0;
  right: 0;
  border-top: unset;
  border-left: unset;
}
body .second .content1 .photo {
  width: 400px;
  height: 400px;
}
body .second .divider {
  border: 1px solid gold;
  height: 560px;
  width: 2px;
  border-top: unset;
  border-bottom: unset;
  border-left: unset;
  margin-top: -50px;
}
body .second .name {
  text-align: center;
}
body .second .name h3 {
  color: #666;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 30px;
}
body .second .name div {
  border: 1px solid gold;
  width: 100px;
  border-bottom: unset;
  border-right: unset;
  border-left: unset;
  margin-left: 160px;
}
body .second .name h4 {
  color: #666;
  text-align: center;
  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 150% */
  text-transform: capitalize;
  margin-top: 30px;
  margin-bottom: 30px;
}
body .second .name nav ul {
  display: flex;
  justify-content: center;
  gap: 5px;
}
body .second .name p {
  color: #333;
  text-align: center;
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  width: 430px;
  height: 116px;
  margin-top: 50px;
  margin-bottom: 20px;
}
body .second .name .divider3 {
  border: 6px dashed gold;
  border-bottom: unset;
  border-right: unset;
  border-left: unset;
  width: 50px;
  margin-bottom: 25px;
  margin-left: 185px;
}
body .second .name button {
  color: #666;
  text-align: center;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
  text-transform: uppercase;
  padding: 5px 10px;
  border: 1px solid gold;
  background-color: unset;
}